@import url('https://fonts.googleapis.com/css?family=Krona+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Krona One", Helvetica, Arial, sans-serif;
}

/* Hilangkan potensi scroll kanan */
html, body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #24344F;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
    padding-top: 20px;  /* lebih ke atas */
}

.container {
    width: calc(100% - 40px); 
    max-width: 390px;
    padding: 20px;
    text-align: center;
    color: white;
}

.title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}

input, textarea, select {
    width: 100%;
    padding: 14px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    margin-top: 10px;
}

textarea {
    height: 150px;
    resize: none;
}

.btn {
    width: 100%;
    padding: 14px;
    margin-top: 25px;
    border-radius: 10px;
    border: 2px solid white;
    background: transparent;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: rgba(255,255,255,0.1);
}

#customNotif {
    width: 100%;
    padding: 14px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
}
